
$primary_color: #719f91;
$bg_color: wheat;
$text: #222;

header{
    text-align: center;
    padding: 30px;
    

    title{
       color: $primary_color;
    }
    
}
form{
    display: flex;
    justify-content: center;
    gap: 10px;

    input{
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 15px;
    }

    #btn_add{
        background: $primary_color;
        color: $text;
        cursor: pointer;
        border: none;
        padding: 8px;
        &:hover{
            transform: scale(1.05);
        }


    }
}

.nav-buttons {
    text-align: center;
    margin: 20px 0;
}
.nav-buttons a{
    display: inline-block;
    margin: 0 5px;

}

.logout-button{
    margin: 0 5px;
    text-align: right;
}

body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 15px;
    padding: 5px;
    background-color: $bg_color;
    h1{
        color: $text;
        text-align: center;
    }
    h4{
        color: $text;
        text-align: center;
    }
    p{
        color: $text;
        text-align: center;
    }
    a{
        display: inline-block;
        background-color: $primary_color;
        color: $text;
        padding: 8px 12px;
        border-radius: 8px;
        text-decoration: none;
        text-align: center;
        width: fit-content;
        margin: 0 auto;

        &:hover{
            transform: scale(1.05);
        }

    }
    button{
          background: $primary_color;
        color: $text;
        cursor: pointer;
        border: none;
        padding: 8px;
    }
}

.content{
    max-width: 1100px;
    margin: 50px auto;
    padding: 20px;
    background-color: floralwhite;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    text-align: center;
    
    details{
        background-color: whitesmoke;
        max-width: 800px;
        margin: 15px auto;
        border-radius: 10px;
        box-shadow: 0 2px 8px rgba(0,0,0,0.15);
        overflow: hidden;
    }

    summary {
        padding: 15px 20px;
        background: $primary_color;
        cursor: pointer;
        font-weight: bold;
        font-size: 18px;
    }

    summary:hover {
        transform: scale(1.01);
    }
    
}

summary{
    padding: 3px 5px;
    background: $primary_color;
    color: $text;
    cursor: pointer;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
    display: inline-block;
}

summary:hover {
    transform: scale(1.02);
}
