{% extends "base.html" %}

{% block head %}
<title> Admin </title>
{% endblock %}

{% block body %}
<div class="content">
        <h1>Admin Access Page</h1>
        <a href="/">Home Page</a>
        <p>{{message}}</p>

        <details>
            <summary>Grocery Items</summary>
            {% if product | length < 1 %}
            <h3>There are no items added currently<h3>
            {% else %}
            <table>
                <tr>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Store</th>
                    <th>City</th> 
                    <th>Actions</th>
                </tr>
                {% for price in price %}
                    <tr>
                        <td>
                            {{ price.product.content}}
                        </td>
                        <td>
                            ${{"%.2f"|format(price.price)}}
                        </td>
                        <td>
                            {{ price.store.chain }}
                        </td>
                        <td>
                            {{price.store.city}}
                        </td>
                        <td>
                        <a href="/delete/{{price.id}}">Delete</a>
                        <a href="/update/{{price.id}}">Update</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {% endif %}
        </details>

        <details>
            <summary>Users</summary>
            <table>
                <tr>
                    <th>User ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Admin</th>
                    <td>Actions</td>
                </tr>
            {% for user in users%}
                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.admin}}</td>
                    <td>
                    <a href="/delete-user/{{user.id}}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </table>
        </details>

        <details>
            <summary>Alerts</summary>
            <table>
                <tr>
                    <th>Alert ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Product</th>
                    <th>Store</th>
                    <th>Target Price</th>
                    <th>Active</th>
                    <th>Actions</th>
                </tr>
                {% for alert in alerts %}
                    <tr>
                        <td>{{alert.id}}</td>
                        <td>{{alert.user.username}}</td>
                        <td>{{alert.email}}</td>
                        <td>{{alert.product.content}}</td>
                        <td>{{alert.store.chain}}</td>
                        <td>$ {{"%.2f"|format(alert.target_price)}}</td>
                        <td>{{alert.active}}</td>
                        <td>
                        <a href="/delete-alert/{{alert.id}}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </details>
    </div>
{% endblock %}