{% extends "base.html" %}

{% block head %}
<title>View and Delete Alerts</title>
{% endblock %}

{% block body %}
<h1> Your active price alerts</h1>
<h4> Welcome back, {{username.username}}</h4>

{% if alerts | length < 1 %}
    <p> You have no active alerts </p>

{% else %}
    <table>
        <tr>
            <th>Product</th>
            <th>Store</th>
            <th>Target Price</th>
            <th>Email</th>
            <th>Action</th>
        </tr>

    {% for alert in alerts %}
        <tr>
            <td>{{alert.product.name}}</td>
            <td>{{alert.store.chain}}, {{alert.store.city}}</td>
            <td>${{"%.2f"|format(alert.target_price)}}</td>
            <td>{{alert.email}}</td>
            <td>
                <a href="/delete-alert/{{alert.id}}">Delete Alert</a>
            </td>
        </tr>
    {% endfor %}
    </table>
{% endif %}

{% endblock %}