{% extends "base.html" %}

{% block head %}
<title>Where's A Deal.com</title>
{% endblock  %}

{% block body  %}
     <div class="hero">
      <h1> Find the best grocery prices!</h1>
      <h4>Search local Kroger products and create alerts to know when its a deal</h4>
     </div>
     
     <p class="search-message">{{message}}<p>


     <form action="/" method="GET" class ="search-form">
        <input type="text" name="search" placeholder="search item" id="search"/>
        <input type="text" name="zipcode" placeholder="zipcode" id="zipcode"/>
        <input type="submit" value="search" id="btn_add"/>
     </form>
     {% if products %}
      <h2>Select A Product </h2>
      {% for product in products%}
         <div class="card">
            <form action="/select-product" method="GET">
               <h3>{{product["description"]}}</h3>
               <input type="hidden" name="locationid" value="{{product["locationId"]}}">
               <input type="hidden" name="chain_name" value="{{product["chain_name"]}}">
               <input type="hidden" name="city" value="{{product["city"]}}">
               <input type="hidden" name="search_term" value="{{search_term}}">
               <button type="submit" name="item_id" value="{{product["productId"]}}">
                  Select
               </button>
            </form>
         </div>
      {% endfor %}
     {% endif %}
   
     {% if searched_price%}
      {% for price in searched_price %}
      <div class="card">
         <h3>{{ price.product.name }}</h3>

            <p>Size: {{ price.size }}</p>
            <p>Price: ${{ "%.2f"|format(price.price) }}</p>
            <p>{{ price.u_o_m }}</p>
            <p>Store: {{ price.store.chain }}</p>
            <p>City: {{ price.store.city }}</p>
         <details>
            <summary>Create Price Alert</summary>
            <td>
      
               <form action="/create-alert", method="POST">
                  <input type="hidden" name=product_id value="{{price.product.id}}">
                  <input type="hidden" name=store_id value="{{price.store.id}}">
                  <input type="number" name="target_price" placeholder="Enter target price" step="0.01">
                  <input type="email" name="email" placeholder="Enter email for alerts">
                  <button type="submit">Set Alert</button>
               </form>
            </td>
         </details>
      </div>
      {% endfor %}
     {% endif %}
{% endblock  %}
