{% extends "base.html" %}

{% block head %}
<title>Where's A Deal.com</title>
{% endblock  %}

{% block body  %}
     <h1> Where's A Deal?</h1>
     <h4>Will you find a good deal?</h4>
     <div class="nav-buttons">
     <a href= "/adminlogin">Admin Page</a>
     <a href= "/login">Login</a>
     <a href= "/alerts">Alerts</a>
     </div>
     <p>{{message}}<p>


     <form action="/" method="GET">
        <input type="text" name="search" value="search item" id="search"/>
        <input type="text" name="zipcode" value="zipcode" id="zipcode"/>
        <input type="submit" value="search" id="btn_add"/>
     </form>
     {% if products %}
      {% for product in products%}
         <form action="/select-product" method="GET">
            <p>{{product["description"]}}
            <input type="hidden" name="locationid" value="{{product["locationId"]}}">
            <input type="hidden" name="chain_name" value="{{product["chain_name"]}}">
            <input type="hidden" name="city" value="{{product["city"]}}">
            <input type="hidden" name="search_term" value="{{search_term}}">
            <button type="submit" name="item_id" value="{{product["productId"]}}">
               Select
            </button>
         </form>
      {% endfor %}
     {% endif %}
   
     {% if searched_price%}
      {% for price in searched_price %}
      <tr>
         <td>{{price.product.content}}</td>
         <td>{{price.size}}</td>
         <td>${{"%.2f"|format(price.price)}}</td>
         <td>{{price.u_o_m}}</td>
         <td>{{price.store.chain}}</td>
         <td>{{price.store.city}}</td>
         <details>
            <summary>Create Price Alert</summary>
            <td>
      
               <form action="/create-alert", method="POST">
                  <input type="hidden" name=product_id value="{{price.product.id}}">
                  <input type="hidden" name=store_id value="{{price.store.id}}">
                  <input type="number" name="target_price" placeholder="Enter target price" step="0.01">
                  <input type="email" name="email" placeholder="Enter email for alerts">
                  <button type="submit">Set Alert</button>
               </form>
            </td>
         </details>
      </tr>
      {% endfor %}
     {% endif %}
{% endblock  %}
